body {
	background-color: #FFFFFF;
	color: #000000;
}
h1 {
	text-align: left;
}
h2 {
	text-align: left;
}
h3 {
	text-align: left;
}
p {
	text-align: left;
}
p2 {
	
}
<a href= "Resume/Resume.html">Resume</a> {
	text-align: left;
}