/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey -
    Dark Grey -
    Grey/Black(text color) -
    Yellow -
    Red -
*/


/* Global
   ================================================================ */
body {
  /* Set some defaults! font-family, font-size, color, etc. */
  padding: 30px;
  font-family: 'Source+Sans+pro';
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  /* Set some default styles for anchors (color, text decoration) */
}

/* Layout (columns, floats, etc.)
   ================================================================ */
hr {

}

/* Header
   ================================================================ */
header {
  background: #3C3A3A;
  max-width: 100%;
  padding-top: 15px;
}

header h1 a {
  font-family: 'Merriweather';
  font-style: 400;
  font-size: 30px;
  color: white;
  text-decoration: none;
  float: left;
  display: inline-block;
}

header nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  float: right;
  display: inline-block;
}

header nav ul li strong {

}

.tagline {
  font-family: 'Merriweather';
  font-style: italic;
  font-size: 25px;
  clear: both;
  text-align: center;
}

/* Section
   ================================================================ */
.banner {
  background-image: url("../images/coworking.jpg");
  background-size: ;
  max-width: 100%;
}

.blurb {
  display: inline-block;
  float: right;
  width: 33.3333%;
}

.info {
  display: inline-block;
  float: left;
  border: 0px 1px 0px 0px;
  border-color: #D4E1DB;
  padding: 30px;
  width: 33.3333%;
}

/* Footer
   ================================================================ */
footer {
  background: #3C3A3A;
  padding: 15px;
  max-width: 100%;
}

footer p { 
  font-size: 20px;
  color: white;
}

/* Navigation
   ================================================================ */



/* Buttons
   ================================================================ */