/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey -
    Dark Grey -
    Grey/Black(text color) -
    Yellow -
    Red -
*/


/* Global
   ================================================================ */
body {
  /* Set some defaults! font-family, font-size, color, etc. */
  padding: 30px;
  font-family: 'Source+Sans+pro';
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  /* Set some default styles for anchors (color, text decoration) */
}

/* Layout (columns, floats, etc.)
   ================================================================ */


/* Header
   ================================================================ */
header {
  background: #3C3A3A;
  max-width: 100%;
  padding-top: 15px;
}

header h1 a {
  font-family: 'Merriweather';
  font-style: 400;
  font-size: 30px;
  color: white;
  text-decoration: none;
  float: left;
  display: inline-block;
}

header nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  float: right;
  display: inline-block;
}

header nav ul li strong {

}

.tagline {
  font-family: 'Merriweather';
  font-style: italic;
  font-size: 25px;
  clear: both;
  text-align: center;
  background-color: #E2EBE6;
  box-shadow: 0px 3px #D4E1DB; 
}

/* Banner
   ================================================================ */
.banner {
  background-image: url("../images/coworking.jpg");
  background-position: center; 
  background-size: cover;
  background-repeat:no-repeat; 
  padding: 30px;
}

.blurb {
  display: inline-block;
  float: right;
  width: 33.3333%;
}


/* Section
   ================================================================ */
.info {
  display: inline-block;
  float: left;
  padding: 20px;
  box-shadow: 1px 0px #D4E1DB;
  width: 33.3333%;
}


/* Footer
   ================================================================ */
footer {
  clear: both;
  background: #3C3A3A;
  padding: 15px;
}

footer p { 
  font-size: 20px;
  color: white;
}


/* Buttons
   ================================================================ */
.button {
  padding: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'oswald';
}


.banner .button {
  background-color: #F4473C;
  color: white;
  display: inline-block;
  box-shadow: 0px 3px #C33830;
  /*max-height: 30px; how to keep buttons the same size?*/
}

/*.banner .button:hover {  drop height and remover drop shadow

}*/

.info .button {
  background-color: #E2EBE6;
  color: black;
  display: inline-block;
  box-shadow: 0px 3px #B3BBB7;
}

.banner .button:hover
 {
  box-shadow: none;
}
